.icon-arrow
  width 40px
  height 40px
  
  fill $gray-darker
  
.about__btn,
.content__btn,
.note__btn
  &:hover
    .icon-arrow
      fill $black
      
.icon-menu
  width 2em
  height 2em
  
  fill $white
      
.twitter,
.facebook,
.dribble,
.instagram
  height 2em
  width 2em
  
  stroke $white
  
.twitter
  fill $tw
  
.facebook
  fill $fb
  
.instagram
  fill $inst
  
.dribble
  fill $db
  
.page-footer__socials-item
  &:hover
    .twitter,
    .facebook,
    .dribble,
    .instagram
      fill $black
      
.team,
.basketball,
.stats,
.history
  width 5em
  height 5em