footer.page-footer
  ul.page-footer__socials
    li.page-footer__socials-item
      a 
        i.socials-icon
          svg.facebook
            use(xlink:href = '#facebook')
    li.page-footer__socials-item
      a
        i.socials-icon
          svg.twitter
            use(xlink:href = '#twitter')
    li.page-footer__socials-item
      a 
        i.socials-icon
          svg.instagram
            use(xlink:href = '#instagram')
    li.page-footer__socials-item
      a
        i.socials-icon
          svg.dribble
            use(xlink:href = '#dribbble')
include ./_scripts.pug          
block content