script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
script(src="build/js/jquery.scrollex.min.js")
script(src="build/js/jquery.scrolly.min.js")
script(src="build/js/main.js")
script(src="build/js/svg.js")
if currentUser
  script(src="build/js/instafeed.js")
  script(src="build/js/ajax.js")
block content