extends ./partials/_layout.pug
block content
  include ./partials/_nav.pug
  section.error
    .error__container
      .error__content
        i.error__icon
          svg.icon-error
            use(xlink:href = "#exclamation-mark")
        h1.error__header An error has occured
        p.error__status= status
        p.error__text= message
  include ./partials/_footer.pug
      block content
          
