extends ./partials/_layout.pug 
block content
    include ./partials/_nav.pug   
    header.page-header(id='header')
      .page-intro
       .page-intro__content
         h1.page-intro__title NbaGeek
         p.page-intro__description Home for every basketball fan
       .page-header__action
          ul.page-header__action-btn-wrap
            li.page-header__action-btn
              a.scrolly(href = '#one') begin
    section.about.main(id='one') 
      .about__container
        span.about__image.image.hidden
          img(class = "img" src = 'build/img/jordan.jpg')
        .about__content
          h2.about__section-header About
          p.about__section-text This app was build for every NBA fan. 
        a.about__btn.scrolly(href = '#two')
          i.about__btn-icon  
            svg.icon-arrow
              use(xlink:href = "#arrow")
    section.content.main(id='two') 
      .content__container
        span.content__image.image.hidden
          img(class = "img" src = 'build/img/nba-logos.jpg')
        .content__content
          h2.content__section-header Content
          p.content__section-text  Search news. Learn the history. Get stats.
          ul.content__icons-list
            li.content__icons-list-item
              i.icon-content
                svg.history
                  use(xlink:href = '#history')
            li.content__icons-list-item
              i.icon-content
                svg.stats
                  use(xlink:href = '#bar-chart')
            li.content__icons-list-item
              i.icon-content
                svg.team
                  use(xlink:href = '#sports')
            li.content__icons-list-item
              i.icon-content
                svg.basketball
                  use(xlink:href = '#basketball')
        a.content__btn.scrolly(href = '#three')
          i.about__btn-icon  
            svg.icon-arrow
              use(xlink:href = "#arrow")
    section.note.main(id='three') 
      .note__container
        span.note__image.image.hidden
          img(class = "img" src = 'build/img/node.jpg')
        .note__content
          h2.note__section-header About
          p.note__section-text text text text text text text text twxt twer twre 
        a.note__btn.scrolly(href = '#registration')
            i.about__btn-icon  
              svg.icon-arrow
                use(xlink:href = "#arrow")
    
              
    include ./partials/_footer.pug
      block content
          
          