extends ./partials/_layout.pug
block content   
  include ./partials/_nav.pug
  .page-inner
    h1.page-inner__title hello #{user.name}
    p.page-inner__text follow your favorite
    span(id = 'team') #{user.team}
    nav.profile-nav
      ul.profile-nav__list
        li.profile-nav__list-item(id = "news")
          a( href = "#") News
        li.profile-nav__list-item(id = "stats")
          a(href = "#") stats          
        li.profile-nav__list-item(id = "inst")
          a(href = "#") photos
    
    
    article.article.article-tmpl
      .article__header
        h2.article__header-title
        span.article__header-date
      p.article__content
      a.article__link
  
    .schedule.schedule-tmpl
      .schedule__details 
        span.schedule__details-date
        span.schedule__details-location
      .schedule__matchup
        .matchup__awayteam
          h3.matchup__awayteam-name
        span.matchup__versus vs
        .matchup__hometeam
          h3.matchup__hometeam-name
  include ./partials/_footer.pug
      block content
          