<header class="page-header">
    <nav class="page-header__nav">
        <ul class="nav-list">
            <li class="nav-list__logo">
                <img src="" alt="">
            </li>
        </ul>
    </nav>         
</header>
<div class="page-content">
    <div class="page-content__discription">
        <h1 class="dicription__header">
            What are you looking for!!!
        </h1>
        <p class="discription__text">
            Cred marfa drinking vinegar freegan vice. Live-edge chambray brunch letterpress, umami ugh cardigan. Pug pour-over 3 wolf moon asymmetrical PBR&B. Kitsch scenester chartreuse irony semiotics. Messenger bag skateboard coloring book waistcoat. Wayfarers fixie meditation, tumeric woke ethical tattooed fanny pack bushwick hoodie thundercats. Cardigan sriracha PBR&B ennui.
        </p>
    </div>
    <form action="/" method="POST" class="page-content__form">
        <h2 class="form__header">Subscribe</h2>
        <input type='email' name='email' placeholder='your email'>   
        <input type='submit' name='submit' value='send'>
    </form>
</div>  
        