<header class="page-header">
    <nav class="page-header__nav">
        <ul class="nav-list">
            <li class="nav-list__logo">
                <a href="/" class="nav-list__link"> 
                 <img src="build/img/logo.png" alt="logo">
               </a>
            </li>
        </ul>
    </nav>         
</header>
<div class="page-content">
  <div class="page-content__mask">  
    <div class="page-content__discription">
        <h1 class="discription__header">
            Thanks for subscribing. Now check your mailbox!!!
        </h1>
    </div>
  </div>
</div>  