body
  margin 0
  padding 0
  
  line-height 1.1rem
  font $font
  font-size $font-size
  color $black
  
html
  
  &.is-touch
    height 100vh
    overflow hidden
    
    & #wrapper
        height 100vh
        overflow auto
        display flex
        flex-direction column
  
  background-attachment fixed, fixed
  // background-image url(../img/nba.jpg)
  background-position top center, center center
  background-repeat no-repeat
  background-size cover
  
.page-container
  display none
  
.page-wrapper
  container();
  margin-top 10em
  
.img
  display block
  
  width 100%
  
  @media screen and (min-width: 1024px)
    display inline-block
    position absolute
  
    left 50%
    bottom 0
  
    width 80%
    margin-left -40%
    padding 3em
  
    background $bg
  
  @media screen and (min-width: 1024px)
    width 35em
    margin-left -20em
    padding 2.5em
    
p
  margin 0 0 2em 0
  
input[type = 'name'],
input[type = 'email'],
input[type = 'password']
  width 90%
  height 3em
  margin-bottom 2em
  border none
  outline none
  padding 0 1em
  
  font-size $h5
  background $form-bg
  
  &:focus
    box-shadow 0 3px 10px 0 $blue-active

  @media screen and (min-width: 768px)
    width 41%
    
select
  width 90%
  height 3em
  margin-bottom 2em
  border none
  outline none
  padding 0 0 0 1em
  
  font-size $h5
  background $form-bg
  
  @media screen and (min-width: 768px)
    width 47%
    
.image
  position relative
  
  border none
  
  &.hidden
    display block
    
    @media screen and (min-width: 1024px)
      display none
      
.main-bg
  display none
  
  position fixed
  top 0
  left 0
  
  height 100%
  width 100%
  
  
  transition opacity 0.5s ease-in-out
  
  background-attachment fixed, fixed
  background-position top center, center center
  background-size cover
  background-repeat no-repeat
  opacity 0
  z-index -1
  
  @media screen and (min-width: 1024px)
    display block