//Font-Size
$font-size = 16px;
$h1 = 2.25rem;
$h2 = 1.875rem
$h3 = 1.5rem
$h4 = 1.313rem
$h5 = 1.125rem;

//Font-Description
$font = $font-size "Raleway", Arial, sans-serif;


//Font-Weight
$italic =  'italic';
$normal = 400;
$bold = 900;
  
//Colors
$black = rgb(0, 0, 0);
$white = rgb(255, 255, 252);
$bg = rgba(255, 255, 255, .9);
$form-bg = rgba(144, 144, 144, .15);
$gray = rgb(210, 210, 210);
$gray-lighter = rgb(220, 220, 220);
$gray-darker = rgb(160, 160, 160);
$profile = rgba(160, 160, 160, .3);
$btn-color = rgb(0, 204, 102);
$btn-color-hover = rgb(0, 204, 130);
$btn-color-active = rgb(0, 204, 162);
$blue = rgb(5, 110, 246);
$blue-active = rgb(5, 60, 246);
$blue-hover = rgb(5, 0, 246);
$fb = rgb(59,89,152);
$tw = rgb(64,153,255);
$inst = rgb(193,53,132);
$db = rgb(255,136,51);
//Shapes