.error
  margin 0
  padding 0
  
  &__container
    container()
    margin-top 5em
  
  &__content
    text-align center
    
  &__header
    font-size $h1*1.5
    text-transform capitalize
    
  &__status
    font-size $h2
  
  &__message
    font-size $h2