extends ./partials/_layout.pug
block content   
  include ./partials/_nav.pug
  .page-wrapper
    .page-wrapper__inner
      header.about-inner
        h1.about-inner__title about
        p.about-inner__text This app is built with MongoDB, Node.Js, ExpressJS, Instagram API, Real Sport Data API, MySportsFeed API. It has some Parrallax effects and Responsive layout. With a little help of JQuery, of course. 
        
    
  include ./partials/_footer.pug
      block content