.page-header {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    &__main {
        position: relative;
        height: 90vh;
        background: url('../img/bg.png');
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, .6);
        }
    }
    &__nav {
        width: 100%;
        text-align: center;
        background: rgba(255, 255, 255, 1);
    }
    &__discription {
        padding: 5em 3em
    }
}

.nav-list {
    list-style: none;
    padding: 1em 0;
    margin: 0;
    &__logo {
        padding: 0;
        margin: 0;
    }
}

.discription {
    &__header {
        font-size: 2em;
        text-align: center;
    }
}