.login
  margin-top 5em
  
  &__container
    container()
    
  &__header
    title()
  
.login-form
  &__inputs
    inputs()
  
  &__btn-wrap
    flex-row()
    justify-content center
      
  &__btn
    btn-submit()