.note
  position relative
  text-align center
  order 40
  
  &__container
    container()
    &::before
      before()
    
  &__image
    image()
   
  &__content
    display inline-block 
    
    width calc(100% - 10px)
    
  &__section-header
    title()
    
  &__btn
    btn-next()
    
  &__btn-icon
    position absolute
    
    top 50%
    left 50%
    
    margin-top -20px
    margin-left -20px