.registration
  position relative
  text-align center
  
  &__container
    container()
    
  &__header
    title()
    
.form
  &__inputs
    inputs()

  &__selects
    flex-row()
    justify-content center
    
    padding-bottom 1em
    
  &__btn-wrap
    flex-row()
    justify-content center
      
  &__btn
    btn-submit()